* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

nav {
   height: 5vh;
   width: 100vw;
   background-color: chocolate;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.countryDiv {
   height: 100%;
   width: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.countryDiv:hover {
   background-color: green;
}

.dropdownDiv {
   display: none;
   position: absolute;
   min-width: 160px;
   margin-top: 15px;
}

.dropdownDiv span {
   display: block;
   padding: 12px 16px 12px 0;
}

.dropdownDiv span:hover {
   background-color: palegreen;
}

.countryDiv:hover .dropdownDiv {
   display: block;
   background-color: lightgreen;
}

#visited:hover {
   background-color: green;
}

html, body {
   width: 100%;
   height: 100%;
}

#cityContent {
   display: flex;
   flex-direction: column;
   height: 90%;
   width: 100%;
   justify-content: center;
   align-items: center;
}

#cityName {
   margin-bottom: 50px;
   font-size: 50px;
}

#cityInfo {
   font-size: 25px;
}